* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: scroll;

}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    position: fixed;
    z-index: 3;
}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 30px;
}

.logo:hover {
    cursor: pointer;
}

.header-left ul {
    list-style: none;
}

.header-left ul li {
    font-size: 14px;
    color: white;
    display: inline;
    margin-left: 20px;
    transition: 0.3s;
}

.header-left ul li:hover {
    cursor: pointer;
    opacity: 70%;
}

.header-right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.header-right ul li {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    display: inline;
    margin-left: 20px;
    transition: 0.3s;
}

.header-right ul li:hover {
    cursor: pointer;
}

.header-right img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

.header-right img:hover {
    cursor: pointer;
}

.input {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    height: 35px;
    width: 300px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid white;
    padding: 5px 5px 5px 40px;
    border-radius: 0px;
    display: none;
}

input:focus {
    outline: none;
}

.search {
    color: white;
    position: absolute;
    left: 8px;
    font-size: 20px;
    display: none;
}

.fa-star {
    color: #E8C848;
}

main {
    min-height: 100vh;
    max-height: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 20px 10px;
}

.element {
    position: relative;
    height: 250px;
    width: 175px;
    margin: 5px 10px;
}

.container-element {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
}

.container-element:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.container-element span {
    overflow: hidden;
    height: 60px;
    font-size: 12px;
}

.poster {
    width: 100%;
    height: 100%;
}

span {
    color: white;
    text-shadow: 1px 1px black;
}
