* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

input {
    height: 30px;
}

.container-element {
    height: 170px;
    width: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 10px;
}

span {
    color: white;
}

i {
    color: white;
}

button {
    height: 30px;
    width: 60px;
}

main {
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
