* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

input {
    height: 30px;
}

main {
    height: calc(100vh - 100px);
    background-color: black;
}
